<div class="h-100 d-flex justify-content-between align-items-center">
  <div class="d-flex justify-content-start">
    <tui-tabs class="tui-space_left-4">
      <button
        *ngFor="let tab of navigationTabsArray"
        tuiTab
        openNewTab
        [tabLink]="tab.link"
        type="button"
        [disabled]="tab.isDisabled || (isTabsDisabled | async)!"
        [routerLink]="tab.link"
        routerLinkActive="active"
        (click)="ChangeMode()"
      >
        <div class="d-flex">
          <label class="align-items-end">{{ tab.name }}</label>
        </div>
      </button>
    </tui-tabs>
  </div>

  <div class="d-flex justify-content-end">
    <button
      *ngIf="!(isAuthorized | async); else Authorized"
      tuiButton
      openNewTab
      size="m"
      type="button"
      [disabled]="(isTabsDisabled | async)!"
      iconRight="tuiIconUser"
      (click)="redirectToAuth()"
    >
      Войти
    </button>
  </div>
</div>

<ng-template #Authorized>
  <tui-hosted-dropdown
  tuiDropdownHover
  [content]="dropdown"
>
  <button
      tuiButton
      type="button"
      iconRight="tuiIconUser"
  >
  </button>
  <ng-template
      #dropdown
      let-activeZone
  >
      <tui-data-list>
          <button
              *ngFor="let tab of accountNavigationButtonArray"
              tuiButton
              size="m"
              type="button"
              [routerLink]="tab.link"
              routerLinkActive="active"
          >
              {{ tab.name }}
          </button>
          <button
              tuiButton
              size="m"
              type="button"
              (click)="logout()"
          >
              Выйти
          </button>
      </tui-data-list>
  </ng-template>
</tui-hosted-dropdown>
</ng-template>
